body {
	margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
	background: #ff0000;
  color: #fff;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;	
	background: #ff0000;
  color: #fff;
}

footer a {
	color: #fff;
}
